:root {
    --text-color: #000;
    --bg-color: #fff;
    --ui-color: #000;
    --ui-border: #dedede;
    --ui-border-muted: #e0e0e0;
    --ui-bg: #f1f1f1;
    --ui-bg-muted: #f5f5f5;
}
@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #f5f5f5;
        --bg-color: #000;
        --ui-color: #fff;
        --ui-border: #444;
        --ui-border-muted: #222;
        --ui-bg: #222;
        --ui-bg-muted: #090909;
    }
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito Sans", sans-serif;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-size: 0.9em;
    line-height: 1.8em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
    
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-size: inherit;
    font-weight: 700;
    margin-bottom: 1em;
    font-size: 1em;
}

.content {
    flex: 1 0 auto;
    width: 100%;
    margin-bottom: 40px;
}

a {
    color: var(--text-color);
}
p a:hover {
    opacity: 0.8;
}

ul {
    padding-left: 15px;
}

ul ul {
    padding-left: 30px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.left-link {
    font-size: 1.2em;
}

.right-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
}

.title {
    font-family: "Nunito", sans-serif;
    font-size: 1.2em;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 40px 0;
    text-align: left;
}

.logo-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.logo {
    width: 35px;
    height: 35px;
    background-color: var(--ui-bg);
    border: 1px solid var(--ui-bg);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-link:hover .logo {
    border-color: var(--ui-border);
}

.logo-text {
    font-family: "Nunito", sans-serif;
    font-size: 0.8em;
    font-weight: 800;
    color: var(--ui-color);
    text-align: center;
    line-height: 1;
    letter-spacing: 0.2em;
}

.logo-text span {
    display: block;
    transform: translateX(0.1em);
}

.nav-menu {
    display: flex;
    gap: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.nav-menu a:hover {
    opacity: 1;
}

.nav-menu a.active {
    opacity: 1;
    font-weight: 700;
}

.content p {
    margin-bottom: 1em;
}

.content .nav-links a {
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.content a:hover {
    opacity: 1;
}

.container {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    padding: 5vmin 30px 1vmin 30px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    margin-top: auto;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 0.9em;
    color: var(--text-color);
    opacity: 0.4;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-link {
    color: var(--text-color);
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.social-link:hover {
    opacity: 1;
}

.icon {
    width: 18px;
    height: 18px;
    fill: currentColor;
}

.section-title {
    text-transform: uppercase;
}

.section-title:not(:first-child) {
    padding-left: 1em;
    margin-left: 1em;
}
.section-title {
    padding-right: 1em;
    margin-right: 1em;
}


.about-intro {
    display: flex;
    background-color: var(--ui-bg-muted);
    padding: 1em;
    border-radius: 6px;
    flex-wrap: wrap;
    gap: 2em;
    align-items: flex-start;
    margin-bottom: 2em;
}

.about-intro .image-column {
    flex: 0 0 160px;
    max-width: 160px;
}

.about-intro .text-column {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
}

.about-intro .saso-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
}

.project-details {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-details p {
    margin: 0.02em 0;
    color: var(--text-color);
    opacity: 0.8;
    display: flex;
    align-items: center;
}

.detail-label {
    font-weight: bold;
    opacity: 0.6;
    width: 150px;
    flex-shrink: 0;
}

@media (max-width: 600px) {
    .about-intro {
        flex-direction: column;
    }

    .about-intro .image-column,
    .about-intro .text-column,
    .project-details {
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
    }
}

.date {
    display: block;
    font-size: 0.9em;
    color: var(--text-color);
    opacity: 0.6;
    margin-bottom: 0em;

}
